<a href="https://colab.research.google.com/github/Aim360m/TTP-Summer-23/blob/main/Intro_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

code to text is ctr+m+m

##Strings & the print() function

In [50]:
print("Hello World")
#This line the print method is printing the words "Hello World" to the User

Hello World

In [52]:
print("There are two types of slashes: \\ and /")
#This line is printing the difference between a "\" and a "/". The main differnce is the "\\" is a shortcut for "\", which is why it only prints one '\' instead of two. the '/' is not a shortcut so it does not require a "//"

There are two types of slashes: \ and /

In [54]:
print("""
  This is a tabbed line
This is a regular line""")
#This print method shows how to make a multi-line print statement

  This is a tabbed line
This is a regular line

In [55]:
print("\n\tThis is a tabbed line\nThis is a regular line")
#This print method shows how to create a multi-line print method using "\" shortcuts. "\t" is a sc for tab, "\n" is a sc for new line.

	This is a tabbed line
This is a regular line

In [1]:
print("first name" + " last name")
#This print method shows what happens when you combine two sentences w/ a '+'. The '+' makes a seperation but adds no spaces.

first name last name

##Variables

Everything in Python is an obj

In [2]:
dogs = 3
cats = "Many fluffy cats"
#The variables dogs and cats are declared in the above script. dogs is an int variable and cats is a string with the statement "Many Fluffy cats" stored.

In [3]:
dogs
#Writing out a variable shows what is stored in said variable. dogs stores 3, thus 3 is output when referenced

3

In [4]:
cats
#Same as last but "Many fluffy cats" is the output

'Many fluffy cats'

In [5]:
type(dogs)
#type() checks the var type, in this case dogs is an int

int

In [6]:
type(cats)
#in this case cats is a str(string)

str

In [7]:
print(dogs)
#this print method prints the value stored in the variable

3

In [8]:
hi="hello "
name= "John"
print(hi + name)
#hi has "hello " stored in in the var, name has "John" stored. The print method shows that 2 var seperated by a '+' will still output their stored values. In this case for a statement.

hello John

In [9]:
more_dogs= 5
print(dogs+more_dogs)
#In this case the '+' in the print method adds the 2 ints.

8

In [10]:
price=19.99
amount=3
#creates a float price equal to 19.99 and an int amount equal to 3.

In [11]:
print(price+amount)
#Shows a '+' will add 2 values even if they are dif numerical types

22.99

float takes priority

In [12]:
#variable re-assignment
dogs="New value"

print(dogs)
# dogs has had its value reassigned to a str and then printed newly stored info

New value

In [13]:
cats,dogs,rabbits=2,5,"cute"

print(dogs)
#you can set or reassign multiple var in a single line

5

##More Strings

###Index

In [15]:
greeting="Hello World!"

In [16]:
greeting

'Hello World!'

In [17]:
print(greeting[4])
#greeting[4] checks for the letter at that position in the str. it starts at [0] so greeting[4] outputs 'o' bc [4] checks the fith char

o

In [18]:
sentence="This is my first time using Python, it seems easy, but will probably get harder."

In [27]:
print(sentence[3]+'\n' +sentence[5]+'\n' + sentence[19] )
#can check mult char at a time. this method outputs the 4th 6th and 20th char in the str.

s
i
m

In [28]:
len(greeting)
#len() checks the length of a str

12

In [29]:
greeting[11]
# a way to find last char in an str is the amount of char-1

'!'

In [30]:
greeting[-1]
#easier way is to find -1 bc that starts from the back of the str

'!'

In [31]:
sentence[-1]
#another ex of starting from the back

'r'

###String Formating

In [32]:
price=59.99

In [34]:
msg="Your product costs "+str(price)+" dollars"
#cant have multi type of var in a var. to get around this set the typing of price to a str w/ 'str()'

In [35]:
msg

'Your product costs 59.99 dollars'

In [36]:
Msg="Your product costs {} dollars".format(price)
#Using "{}" and .format() is an easier way to to insert another type of var into a str

In [37]:
Msg
#the out of Msg w/ .format(price)

'Your product costs 59.99 dollars'

In [38]:
amount=3
total=amount*price
#total multiplies price by amount and stores the value

In [39]:
msg2="For {} products at the price of {}, the total will be: {}"
#msg2 is another way to format. you can place mult {} into str and set them later.

In [40]:
print(msg2.format(amount,price,total))
# this is the formating side of last. amount will be in the first {} through total in the last {}

For 3 products at the price of 59.99, the total will be: 179.97

In [41]:
msg3='For {2} products at a price of {0}, the total price is {1}'
#By putting a number into the {} you say which var will be assigned where when formatting

In [43]:
print(msg3.format(price,total,amount))
#From last: price={0},amount={2}, and total={1}

For 3 products at a price of 59.99, the total price is 179.97

####The 'f-string' method

In [44]:
price=19.99
items=3

In [45]:
msg=f'This individual product is {price}'
#the easiest way to format is by putting an str=f"Statement Here{Var}". It allows you to add mult var types w/o adjusting typing

In [46]:
msg
#output of the f-str method

'This individual product is 19.99'

In [47]:
msg2=f'The total for your purchase is {price*items}'
#f-str works with multiple var and of dif types

In [48]:
msg2
#out of last

'The total for your purchase is 59.97'